@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.main_sec{
  transition: all 3s;
  scroll-behavior: smooth;
}

/* image-carousel */
.carousel {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* main-image */
.fashion_image1{
 background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.659),rgba(244, 238, 238, 0)),  url(homeimg.jpg);
 background-size: cover;
 animation: backwards;
 animation-duration: 1400;
 background-position: center;
 height: 24rem;
}

/* transition-images - height and width of images have been set to be the same */
.fashion_image{
  background-color: rgba(128, 128, 128, 0.133);
  margin: auto;
  padding-top: 10px;
  width: 30rem;
  height: 50vh;
}

.word1{
  font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Skranji', cursive;
}


/* female_images_trend */
.female_image{
  background-image:url(trend_img.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  margin-top: -120px;
}

.female_image:hover{
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.07);
  transition: 1.2s;
}

/* male_images_trend */
.male_image{
  background-image:url(trend_img2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  margin-top: -50px;
}

.male_image:hover{
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.07);
  transition: 1.2s;
}

.text_main{
  font-family: 'Amatic SC', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'League Gothic', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Paytone One', sans-serif;
  font-family: 'Skranji', cursive;
}

.img_height{
  height: 8rem;
  width: 5rem;
}


/* scroll_container for popular */


.slider-frame{
  position: relative;
  max-width: 48rem;
  margin:0 auto;
  padding: 2rem;
  place-content: center;
  display: grid;
  
}

.img-container{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior: smooth;
  gap: 10px;


}


.img-container{
  flex:1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  height: 18rem;
  width: 25rem;

}

.slide-nav{
  display: flex;
  column-gap: .2rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

}

.slide-nav a{
  width: 0.5rem;
  height:0.5rem;
  border-radius: 50%;
  background-color: #272626ac;
  opacity: .75;
  transition: opacity ease 250ms;
}

.slide-nav a:hover{
  opacity: 1;
}


.flash_sale{
  background-image: url(/dist/flash_sale_img.jpg);
  background-position: center;
  background-size: cover;
  height:19rem;
  width: 100%;
}


/* hamburger-sidebar */
.sidenav{
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top:0;
  left:0;
  background-color: #080808;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .3s;
}

.sidenav a:hover{
  color: royalblue;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open{
  color: rgb(255, 255, 255);
  margin-top: -3rem;
  position: relative;
  justify-content: right;
  float: right;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
}

#main{
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height:450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a{
    font-size: 18px;
  }
  
}